<main>
    <div class="container-box"> 
        <div class="left-side">
            <div class="title">
                <h1>STARTUP <br>INVEST</h1>
            </div>
            <div class="text-center">
                <img src="./assets/Enterprises.png" class="img-home">
            </div>
        </div>
  
  
        <div class="right-side">
            <div class="up-part">
              <form method="post">
                <div class="form-group col-lg12">
                  <input [(ngModel)]="investment.amount" type="number" class="form-control"
                  name="username" id="username" placeholder="Monto" autofocus required>
                </div>
          
                <div class="form-group col-lg12">
                  <input [(ngModel)]="investment.paymentType" type="number" class="form-control" 
                  name="password" id="password" placeholder="Numero cuotas" required>
                </div>
                
          
                <div class="form-group col-lg12">
                  <input (click)='createInvestment()' type="submit" class="btn btn-lg btn-primary btn-block" value="Crear Investment">
                </div>
              </form>
            </div>
        </div>
    </div>
  </main>
  
