<main>
    <div class="container-box"> 
        <div class="left-side">
            <div class="title">
                <h1>STARTUP <br>INVEST</h1>
            </div>
            <div class="text-center">
                <img src="./assets/Enterprises.png" class="img-home">
            </div>
        </div>
  
  
        <div class="right-side">
            <div class="up-part">
              <form method="post">

                <div class="form-group col-lg12">
                  <input [(ngModel)]="investment.amount" type="text" class="form-control"
                  name="Monto" id="Monto" placeholder="Monto" autofocus required>
                </div>
          
                <div class="form-group col-lg12">
                  <input [(ngModel)]="investment.years" type="number" class="form-control" 
                  name="Años" id="Años" placeholder="Años" required>
                </div>

				<div class="form-group col-lg12">
					<input [(ngModel)]="investment.period" type="text" class="form-control" 
					name="Periodo" id="Periodo" placeholder="Periodo" required>
				</div>

				<div class="form-group col-lg12">
					<input [(ngModel)]="investment.paymentType" type="text" class="form-control" 
					name="Tipo" id="Tipo" placeholder="Tipo de pago" required>
				</div>

                <div class="form-group col-lg12">
                  <input (click)='createInvestment()' type="submit" class="btn btn-lg btn-primary btn-block" value="Crear Investment">
                </div>
              </form>
            </div>
        </div>
    </div>
  </main>
  
