<div>
<header>
  <nav>
      <div class="menu-icon">
         <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">
         STARTUP INVEST
      </div>
      <div class="menu">
         <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="https://alvarorrp.github.io/LPFinanzas/" target="_blank">Landing Page</a></li>
            <li><a href="#" class="select">Login</a></li>
            <li><a href="Registro.html" >Registrarse</a></li>
         </ul>
      </div>
   </nav>
</header>

<main>
  <div class="container-box"> 
      <div class="left-side">
          <div class="title">
              <h1>STARTUP <br>INVEST</h1>
          </div>
          <div class="text-center">
              <img src="./assets/Home.png" class="img-home" alt="...">
          </div>
          <div class="back-icon">
              <a [routerLink]="['/dashboard']"><img src="./assets/back-icon.png" alt="" ></a>
              
          </div>
      </div>


      <div class="right-side">
          <div class="up-part">
            <form method="post">
              <h3>LOGIN</h3>
              <div class="form-group col-lg-12">
                <label for="exampleInputEmail1" class="form-label">Usuario/Email</label>
                <input [(ngModel)]="usuario.email" type="text" class="form-control"
                name="username" id="username" placeholder="Username" autofocus required>
              </div>
        
              <div class="form-group col-lg-12">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input [(ngModel)]="usuario.password" type="password" class="form-control"
                name="password" id="password" placeholder="Password" required>
              </div>
        
              <div >
                <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
              </div>
            </form>
          </div>



          <div class="down-part">
              <div class="container">
                  <div class="col p-3">
                      
                      <div class="p-2 rounded col-20">
                        <div class="p-2  bg-light">
                            <img src="./assets/google-icon.png" alt="">
                            <p>Registrarse con Google</p>
                        </div>
                      </div>

                    <div class="p-2 col-20">
                      <div class="p-2  bg-light">
                          <img src="./assets/facebook-icon.png" alt="">
                          <p>Registrarse con Facebook</p>
                      </div>
                    </div>
                    <div class="p-2 col-20">
                      <div class="p-2  bg-light">
                          <img src="./assets/twitter-icon.png" alt="">
                          <p>Registrarse con Twitter</p>
                      </div>
                    </div>                         
                  </div>
                </div>
          </div>
      </div>
  </div>
</main>
</div>


<!-- <div class="card border-primary text-center">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
  
      <form method="post">
        <div class="form-group col-sm-6">
          <input [(ngModel)]="usuario.email" type="text" class="form-control"
          name="username" id="username" placeholder="Username" autofocus required>
        </div>
  
        <div class="form-group col-sm-6">
          <input [(ngModel)]="usuario.password" type="password" class="form-control"
          name="password" id="password" placeholder="Password" required>
        </div>
  
        <div class="form-group col-sm-6">
          <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
        </div>
      </form>
    </div>
  </div> -->
  
  