<!-- <h2 class="text-center"><strong> ¡¡¡Tu próxima inversión está aquí!!!</strong></h2>
<div class="container-sides-dashboard d-flex flex-wrap">
  
  <div class="left-side-dashboard" *ngFor="let s of startups" [routerLink]="['/dashboard/startup/',s.id]">
      
      <div class="card " style="width: 15rem;">
          <img src="{{s.photo}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{s.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">¡Saber más!</a>
          </div>
      </div>
      
      
  </div>
  -->
<!-- </div> -->

<h1>Lista de cuotas a pagar</h1>

<div class="card-header">Productos</div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>codigo</th>
                <th>nombre</th>
                <th>descripcion</th>
                <th>precio</th>
                
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let s of installment">
                <th>{{s.id}}</th>
                <th>{{s.payDate}}</th>
                <th>{{s.amount}}</th>
                <th>{{s.paid}}</th>
                

            </tr>
        </tbody>

    </table>
